/*CSS HEADER*/

.body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.header{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    font-family: 'header';
    margin: 0 auto;
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.header_img{
    width: 60px;
    height: 50px;
    
}

.header_container_right{
    display: flex;
    align-items: center;
    max-width: 50%;
    min-width: 600px ;
}

.header_list{
    display: flex;
}

.list_item{
    list-style: none;
    margin-left: 10px;
}

.list_link{
    text-decoration: none;
    color: var(--header-txt);
}

.header_select{
    border-radius: 10px;
    border: 1px solid var(--header-txt);
    font-family: 'header';
    margin-left: 10px;
}

.header_button{
    border-radius: 10px;
    border: 1px solid var(--header-txt);
    background-color: var(--header-txt);
    font-family: 'header';
    color: var(--bg-color);
    font-size: 13px;
    height: 20px;
    width: 135px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 10px;
}

